h1 { 
    font-size: 150px;
    font: Quartzo;
    font-family: sans-serif; 
    display: flex;
    justify-content: center;
    align-content: center;
    }

 body {
        background-image: url(https://i.imgur.com/OgG1zih.jpg);
        background-repeat: no-repeat;
        background-size: auto;
            
    }	
    
.btn {
    display: flex;
    justify-content: center;
    align-content: center;

    }







